@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Office&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@800&family=Ysabeau+Office&display=swap');

html {
  scroll-behavior: smooth;
}

:root {
  --primary: #122F4A;
  --white: #fff;
  --dark: #0b1d26;
}

body {
  background-color: #F1E8D7;
  margin: 0;
}

#frame26 {
  height: 200px;
}

#deliver-frame {
  position: relative;
  width: 300px;
  height: 360px;
}

#deliver-frame-mini {
  position: absolute;
  top: 57%;
  right: 57%;
  z-index: 2;
  width: 155px;
  height: 155px;
}

.main-container {
  overflow: hidden;
}

.top-rectangle {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='1128' height='489' viewBox='0 0 1128 489' fill='none'%3e%3cpath d='M0 -641H1128V189C1128 354.685 993.685 489 828 489H300C134.315 489 0 354.685 0 189V-641Z' fill='white' style='fill:white;fill:white;fill-opacity:1;'/%3e%3c/svg%3e");
  padding-top: 25px;
  width: 1128px;
  height: 463px;
  fill: var(--White, #FFF);
}

.lenta-container {
  top: -150px;
  position: relative;
  width: 100vw;
}

.lenta-frame-container {
  position: absolute;
  top: 250px;
  z-index: 1;
}

.conveer1 {
  position: absolute;
  width: 100%;
}

.conveer2 {
  position: absolute;
  left: -100vw;
  width: 100%;
}

.sub-container {
  margin-top: 115px;
  height: 196px;
}

.container-1 {
  width: 1082px;
  height: 135px;
  transform: rotate(-3.25deg);
}

.container-2 {
  margin: 50px 0 83px 0;
  width: 410px;
}

.container-3 {
  width: 1128px;
  padding: 64px 0px;
  gap: 64px;
  background: #FFC7E7;
}

.container-31 {
  gap: 40px;
}

.container-32 {
  padding: 0px 40px;
  align-items: flex-start;
  gap: 40px;
  align-self: stretch;
}

.container-321 {
  gap: 24px;
  flex: 1 0 0;
}

.container-4 {
  display: inline-flex;
  padding: 96px 0px;
  align-items: flex-start;
  gap: 64px;
}

.container-41 {
  width: 1128px;
  padding: 0px 8px;
  gap: 8px;
}

.container-42 {
  align-items: flex-start;
  gap: 24px;
}

.container-421 {
  width: 360px;
  padding: 40px 0px 64px 0px;
  gap: 40px;
  background: #FFF29A;
}

.container-4211 {
  padding: 0px 24px;
  gap: 24px;
  align-self: stretch;
}

.container-5 {
  width: 1440px;
  align-items: flex-start;
}

.container-51 {
  padding: 64px 16px;
  gap: 40px;
  align-self: stretch;

  background: var(--Blue, #C2D0F4);
}

.container-511 {
  padding: 0px 8px;
  gap: 8px;
  align-self: stretch;
}

.container-512 {
  width: 744px;
  align-items: flex-start;
  gap: 8px;
}

.container-5121 {
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}

.container-51211 {
  align-items: flex-start;
  gap: 8px;
  flex: 1 0 0;
}

.container-51221 {
  position: relative;
  padding: 0px 16px 8px 16px;
  gap: 24px;
  align-self: stretch;
}

.star {
  color: color(display-p3 0.9917 0.2562 0.2562);

  font: normal 500 18px/normal Ysabeau Office;
  letter-spacing: -0.36px;
}

.input-select-container {
  align-items: flex-start;
  align-self: stretch;
}

.input-select {
  padding: 10px 16px;
  align-self: stretch;
  border: 0.1px solid;

  border-radius: 24px;
  background: var(--White, #FFF);
}

input {
  color: var(--Black, #00314F);

  font: normal 500 20px/normal Ysabeau Office;
  letter-spacing: -0.48px;
}

#cities {
  color: var(--Black, #00314F);

  background: var(--White, color(display-p3 1 1 1)) url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='20' height='12' viewBox='0 0 20 12' fill='none'%3e%3cpath d='M4 3.5L10 9.5L16 3.5' stroke='%23122F4A' style='stroke:%23122F4A;stroke:color(display-p3 0.0693 0.1849 0.2917);stroke-opacity:1;'/%3e%3c/svg%3e") no-repeat right;
  background-position-x: calc(100% - 12px);

  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  font: normal 500 20px/normal Ysabeau Office;
  letter-spacing: -0.48px;
}

input::placeholder {
  color: var(--Black, #00314F);

  font: normal 500 20px/normal Ysabeau Office;
  letter-spacing: -0.48px;
  opacity: 0.2;
}

.is-invalid {
  border: 1px solid #dc3545;
  padding-right: calc(1.5em + .75rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(.375em + .1875rem) center;
  background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

.invalid-feedback {
  height: 16px;
  width: 100%;
  margin-top: .25rem;
  color: #dc3545;
}

input:focus {
  border-color: wheat;
}

.container-513 {
  width: 744px;
  gap: 16px;
}

.container-52 {
  padding: 32px 8px;
  gap: 8px;
  align-self: stretch;
}

.button-box {
  padding: 10px 16px 10px 16px;
  gap: 8px;
  align-self: stretch;
  border: none;
  cursor: pointer;

  border-radius: 24px;
  background: var(--Black, #00314F);
}

.button-box:hover {
  background: #03446B;
}

.sub-text {
  margin: 0;
  color: var(--Black, #00314F);

  font: normal 700 32px/normal Ysabeau Office;
  letter-spacing: -0.64px;
  text-transform: uppercase;
}

.textbox-1 {
  color: var(--Black, #00314F);

  font: normal 700 20px/normal Ysabeau Office;
  letter-spacing: -0.4px;
  text-transform: uppercase;
  text-decoration: none;
  height: 30px;
}

.textbox-3 {
  color: var(--Black, #00314F);

  font: normal 800 60px/normal Unbounded;
  letter-spacing: -1.2px;
  text-transform: uppercase;
}

.textbox-4 {
  color: var(--Black, #00314F);

  font: normal 700 32px/normal Ysabeau Office;
  letter-spacing: -0.64px;
  text-transform: uppercase;
}

.textbox-5 {
  color: var(--Black, #00314F);

  font: normal 500 18px/140% Ysabeau Office;
  letter-spacing: 1.26px;
  text-transform: uppercase;
}

.textbox-6 {
  color: var(--Black, #00314F);
  height: 100%;

  font: normal 600 102px/normal Ysabeau Office;
  letter-spacing: -2.04px;
  text-transform: uppercase;
}

.textbox-7 {
  color: var(--Black, #00314F);
  
  font: normal 500 24px/120% Ysabeau Office;
  letter-spacing: -0.48px;
}

.textbox-8 {
  color: var(--Black, #00314F);
  width: 328px;

  font: normal 500 18px/140% Ysabeau Office;
  letter-spacing: 1.26px;
  text-transform: uppercase;
}

.textbox-10 {
  color: var(--Black, #00314F);

  font: normal 700 32px/normal Ysabeau Office;
  letter-spacing: -0.64px;
  text-transform: uppercase;
}

.textbox-11 {
  color: var(--Black, #00314F);

  font: normal 500 18px/normal Ysabeau Office;
  letter-spacing: -0.36px;
}

.textbox-12 {
  color: var(--White, #FFF);

  font: normal 500 20px/normal Ysabeau Office;
  letter-spacing: 2.4px;
  text-transform: uppercase;
}

.textbox-15 {
  color: var(--Black, #00314F);

  font: normal 400 14px/normal Ysabeau Office;
  letter-spacing: -0.28px;
}

.textbox-16 {
  color: var(--Black, #00314F);
  text-decoration-line: underline;
}

.textbox-20 {
  color: var(--Black, #00314F);
  opacity: 0.6;

  font: normal 500 14px/normal Ysabeau Office;
  letter-spacing: -0.28px;
}

.unionrectangle {
  width: 365px;
  height: 148px;
  flex-shrink: 0;
  fill: var(--White, #FFF);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='366' height='148' viewBox='0 0 366 148' fill='none'%3e%3cpath d='M26.7051 148V116.285C11.1326 108.162 0.5 91.8553 0.5 73.0633C0.5 54.2713 11.1326 37.9647 26.7051 29.8414V0H339.295V31.7148C354.867 39.8381 365.5 56.1447 365.5 74.9367C365.5 93.7287 354.867 110.035 339.295 118.159V148H26.7051Z' fill='white' style='fill:white;fill:white;fill-opacity:1;'/%3e%3c/svg%3e");
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-around {
  justify-content: space-around;
}

.justify-space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.text-center {
  text-align: center;
}
